body{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
      
}

.h1{
    margin: 60px 0;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

.line{
    width: 361px;
    border-bottom: 5px solid #33BBF1;
}

.header{
    min-height: 50px;
    max-height: 103px;
    text-align: center;
    color: #0BBBD3;
    font-size: 48px;
    font-weight: 700;
    padding: 20px 0;
}

.header-span{
    color: #000000;
}

.banner{
    width: 1440px;
    height: 852px;
    background-image: url("../img/Успенський\ собор\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 218px;
    box-sizing: border-box;
    padding-left: 80px;
}

.content{
    padding: 0%;
    box-sizing: border-box;
    color: white;
    width: 50%;
    font-size: 64px;
    padding-left: 59px;
    background-repeat: no-repeat;
    height: 388px;
    background-image: url(../img/flag.png);    
}

.main{
    padding: 0 80px;
}

.card{
    border: 1px solid black;
    width: 30%;
    color: #030303;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 32px;
    box-shadow: 0px 4px 22px rgb(0 0 0 / 50%);
}

.card_imege{
    width: 100%;
}

.card_margin{
    margin: 0.3%;
}

.card_title{
    font-size: 32px;
    padding: 10px;
    box-sizing: border-box;
}

.card_subtitle{
    font-size: 32px;
    font-weight: 400;
    color: #595050;
    padding: 10px;
    box-sizing: border-box;
}

.h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    
}

.line2{
    border-bottom: 5px solid #33BBF1;
    width: 361px;
    margin: 0 auto;
}



.a{
    
    background-color: #33BBF1;
    width: 330px;
    height: 80px;
    display: inline-block;
    font-size: 48px;
    text-decoration: none;
}

.footer{
    width: 1440px;
    height: 405px;
    text-align: center;
    color: #0BBBD3;
    font-size: 64px;
    font-weight: 700;
    padding: 100px 0;
    background-color: #0A2DA9;
    
}

.footer-span{
    color: white;
}

.mail{
    text-decoration: none;

}

.tele{
    text-decoration:none;
}

.twitter{
display:inline-block;
width: 50px;
height: 50px;
text-decoration: none;
background-color: blue;
border-radius: 50%;
text-align: center;
box-sizing: border-box;
padding: 1.5rem;
}

.telega{
display:inline-block;
width: 50px;
height: 50px;
text-decoration: none;
background-color: blue;
border-radius: 50%;
text-align: center;
box-sizing: border-box;
padding: 1.5rem;
}

.insta{
    display:inline-block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 1.5rem;
}

.face{
    display:inline-block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 1.5rem;
}


